<form action="/addContact" method="post">
  <label for="firstName">First Name</label>
  <input type="text" name="firstName" id="firstName"></input>
  <label for="lastName">Last Name</label>
  <input type="text" name="lastName" id="lastName"></input>
  <button type="submit">Add Contact</button>
</form>
