<html>
  <head>
    <link rel="stylesheet" href="/Content/CSS/style.css" type="text/CSS">
    <script src="/Content/JS/jquery-3.0.0.min.js"></script>
  </head>
  <body>
    @Html.Raw(Model.GetHeaderHTML())

    @if (Model.getSTATE() == "showAll") {
      @Html.Raw(Model.GetContactsHTML())
    } else if (Model.getSTATE() == "showByGroup") {
      @Html.Raw(Model.GetSortByGroupsHTML())
    }

    <a href="/viewContacts">View All Contacts</a>
    <a href="/goToForm">Add Contact</a>
    <a href="/clear">Remove All Contacts</a>

    <form action="/sortByGroup" method="post" name="groupsort">
      <select name="group" id="sortByGroup">
        <option selected disabled>Sort by Group</option>
        @Html.Raw(Model.GetGroupOptionsHTML())
      </select>
    </form>

    <script src="/Content/JS/scripts.js"></script>
  </body>
</html>
