<html>
  <head>
    <link rel="stylesheet" href="/Content/CSS/style.css" type="text/CSS">
  </head>
  <body>
    @Html.Raw(Model.GetHeaderHTML())
    @Html.Raw(Model.GetContactsHTML())
    <a href="/goToForm">Add Contact</a>
    <a href="/clear">Remove All Contacts</a>

    <script src="/Content/JS/scripts.js"></script>
  </body>
</html>
