body {

}

div.contact {
    display: inline-block;
    width: 30%;
    margin: 1.5%;
    float: left;
    background-color: #ddd;
}

#addContactForm input {
  background-color: #dfddf4;
}

.hidden {
  display: none;
}
